<div class="col-md-8"><br>
  <h3>Edit This User</h3><br>

  <%= render 'form', user: @user %>

  <%= link_to 'Show this User', @user, class: 'btn btn-outline-info' %> 
  <%= link_to 'Back to all Users', users_path, class: 'btn btn-outline-primary' %>
</div>
