<div class="col-md-8"><br>
  <h3>Edit this Post</h3><br>

  <%= render 'form', post: @post %>

  <%= link_to 'View this Post', @post, class: 'btn btn-outline-info' %> 
  <%= link_to 'Back to all Posts', posts_path, class: 'btn btn-outline-primary' %>
</div>
